.signupParentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 350px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .signupParentDiv .input {
    width: 240px;
    height: 40px;
    background-color: rgb(223, 223, 223);
    font-size: 16px;
    border: 0px solid;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  
  .signupParentDiv button {
    width: 70%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
    font-size: 18px;
  }
  .signupParentDiv button:hover {
    font-size: 18px;
    background-color: #004148;
    border: none;
    cursor: pointer;
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: underline;
    color: blue;
  }

  .signup-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .login-path{
    display: flex;
  }
  